/*============================================================
 Product List
============================================================*/

#products {
  float: left;
  display: inline;
  margin: 2px 4px 4px 4px;
  background: url(/images/bkg-products-col.gif) repeat-y #e4e4e4;
  }

#products div.product {
  float: left;
  display: inline;
  width: 175px;
  height: 100%;
  border-top: 2px solid #fff;
  }

#products div.product p {
  margin-bottom: 0;
  }

#products .product-img {
  display: inline;
  float: none;
  vertical-align: middle;
  }

#products .product-info {
  float: left;
  width: 157px;
  padding: 5px 9px 11px 9px;
  border-top: 2px solid #fff;
  }

html #products .product-info {
  width: 175px;
  w\idth: 157px;
  }

#products .product-title {
  margin-bottom: 3px;
  font-size: 11px;
  font-weight: bold;
  line-height: 13px;
  }

#products .product-price {
  float: left;
  font-size: 10px;
  margin-right: 8px;
  }

#products .product-status {
  font-size: 10px;
  font-style: italic;
  }

#products .product-a {
  float: left;
  clear: left;
  display: block;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  }

#products .product-a h3,
#products .product-a p {
  color: #5575DD;
  text-align: left;
  }

#products .product-a:hover h3,
#products .product-a:hover p {
  color: #0E1B79;
  }

#product-1, #product-4, #product-7, #product-10, #product-13, #product-16, #product-19, #product-22, #product-25, #product-28,
#product-31, #product-34, #product-37, #product-40, #product-43, #product-46, #product-49, #product-52, #product-55, #product-58,
#product-61, #product-64, #product-67, #product-70, #product-73, #product-76, #product-79, #product-82, #product-85, #product-88,
#product-91, #product-94, #product-97, #product-100 {
  padding-right: 354px;
  }

#product-2, #product-5, #product-8, #product-11, #product-14, #product-17, #product-20, #product-23, #product-26, #product-29,
#product-32, #product-35, #product-38, #product-41, #product-44, #product-47, #product-50, #product-53, #product-56, #product-59,
#product-62, #product-65, #product-68, #product-71, #product-74, #product-77, #product-80, #product-83, #product-86, #product-89,
#product-92, #product-95, #product-98 {
  margin-left: -352px;
  }

#product-3, #product-6, #product-9, #product-12, #product-15, #product-18, #product-21, #product-24, #product-27, #product-30,
#product-33, #product-36, #product-39, #product-42, #product-45, #product-48, #product-51, #product-54, #product-57, #product-60,
#product-63, #product-66, #product-69, #product-72, #product-75, #product-78, #product-81, #product-84, #product-87, #product-90,
#product-93, #product-96, #product-99 {
  margin-left: -175px;
  }


/* Pagination
------------------------------------------------------------*/

.pagination {
  clear: both;
  padding: 20px 0 15px 0;
  font-weight: normal;
  text-align: center;
  }

.pagination span,
.pagination a {
  padding: 0 3px 0 6px;
  }

.pagination span.disabled {
  display: none;
  }

.pagination span.current {
  font-weight: bold
  }

.pagination span.yadda {
  padding: 5px 4px;
  background: none;
  }


/* Stilts
------------------------------------------------------------*/

span.stilt {
  display:-moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  }

#product-image {
  position: relative;
  display: block;
  width: 300px;
  height: 300px;
  text-align: center;
  overflow: hidden;
  }

#products span.stilt {
  height: 175px;
  }

#product-image span.stilt {
  height: 300px;
  }

#product-image img {
  vertical-align: middle;
  }
